.space-top{
	margin-top: 5rem;
}

.bg-full-width{
	width: 100%;
	height: 100vh;
	background:url('../img/bg.jpg') center top no-repeat;
	background-size: cover;
}

.setting-container{
	padding:20rem 0;
}

.headline,
.description,
.footer-text{
	color:#fff;
	display: block;
}
.headline{
	font-size: 7rem;
	font-weight: bold;
}
.description{
	font-size: 2rem;
	padding:0 20rem;
	margin-bottom: 5rem;
}
.description,
.footer-text{
	font-weight: 300;
}
.footer-text{
	font-size: 1.125rem;
}

.btn-primary-outline{
	background-color: transparent;
	border:1px solid #87d2c4;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.btn-warning-outline{
	background-color: transparent;
	border:1px solid #FF8D52;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-radius: 2rem;
	margin-bottom: 1rem;
}
.btn-primary-outline:hover{
	background-color: #87d2c4;
	color: #fff;
}
.btn-warning-outline:hover{
	background-color: #FF8D52;
	color:#fff;
}

.feature{
	padding:3rem;
}

.feature .fa{
	border:1px solid #87d2c4;
	color:#87d2c4;
	font-size: 3rem;
	border-radius: 50%;
	padding:2rem 3rem;
}

.feature .fa-list-alt{
	padding:2rem;
}

.feature .feature-headline{
	font-size: 1.5rem;
	text-transform: uppercase;
}
.feature .feature-description{
	font-size: 1.3rem;
	color:#888888;
}

.diagram{
	padding:3rem 10rem;
}
.diagram .diagram-headline{
	color:#87d2c4;
	margin-bottom: 2rem;
}
.diagram .diagram-description{
	font-size: 1.3rem;
	color:#888888;
	margin-bottom: 5rem;
}

.trade{}

.trade-headline{
	color:#87d2c4;
	margin-bottom: 2rem;
}
.trade-description{
	font-size: 1.3rem;
	color:#888888;
	margin-bottom: 5rem;
}
.trade-text{
	color:#888888;
}
.trade-list{
	list-style: none;
}
.trade-list-item{
	font-size: 1.6rem;
	margin:2rem 0;
}
.trade-list-item:before{
	font-family:'FontAwesome';
	content:"\f00c";
	border-radius: 50%;
	border:1px solid #FF8D52;
	color:#FF8D52;
	padding:.5rem;
	line-height: 1.7rem;
	margin-left: -4rem;
	position: absolute;
}

.video{
	width:100%;
	padding:10rem;
	background:url('../img/bg-video.jpg') center top no-repeat;
	background-size: cover;
}
.video .video-headline{
	color:#87d2c4;
	font-size: 3.5rem;
}
.video .video-description{
	color:#fff;
	padding:1rem 28rem;
	font-weight: 300;
}

.benefits{
	padding:3.5rem;
}
.benefits .fa{
	border:1px solid #87d2c4;
	color:#87d2c4;
	font-size: 3rem;
	border-radius: 50%;
	padding:2.5rem 3rem;
	margin-bottom: 1rem;
}
.benefits .fa-list-alt{
	padding:2.5rem;
}
.benefits .benefits-headline{
	font-size: 2rem;
}
.benefits .benefits-description{
	color:#888888;
}


.getting-started{
	width: 100%;
	background-color: #f8f8f8;
	padding:10rem 0;
}

.getting-headline{
	font-size: 3.5rem;
	color: #87d2c4;
}

.getting-description{
	color:#888888;
}
.getting-started .footer-text{
	color: #888;
}
.btn-primary{
	border:1px solid #87d2c4;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	border-radius: 2rem;
	margin-bottom: 1rem;
  background-image: -moz-linear-gradient( 90deg, rgb(27,181,207) 0%, rgb(140,209,195) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(27,181,207) 0%, rgb(140,209,195) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(27,181,207) 0%, rgb(140,209,195) 100%);
}
.btn-primary:hover{
	border-color: transparent;
}

@media(max-width: 1024px){
	.setting-container{
		padding:7rem 1rem;
	}
	.headline{
		font-size: 3rem;
	}
	.description{
		font-size: 1.5rem;
		padding:0;
	}
	.diagram{
		padding:3rem 1rem;
	}
	.video{
		padding:5rem 0;
	}
	.video .video-description{
		padding:1rem;
	}
	.getting-started{
		padding:5rem 0;
	}
}